<ol class="dates">
  <% @object_creation_dates.each do |date| %>
    <% tasks = @task_creation_dates[date] %>
    <% notes = @note_creation_dates[date] %>
    <li class="date">
      <div class="date">
        <%= date.strftime("%b %d, %Y") %>
        <span class="day">
          <%= date.strftime("%A").downcase %>
        </span>
      </div>
      <div class="filters">
        <a href="#" class="active">all</a>
        <a href="#">tasks</a>
        <a href="#">notes</a>
        <a href="#">lists</a>
        <a href="#">images</a>
        <a href="#">files</a>
      </div>
      <div class="content">
        <% if notes.present? %>
          <ol class="notes">
            <% notes.each_with_index do |note, index| %>
              <li class="<%= notes.size - 1 == index ? 'last' : '' %> <%= index == 0 ? 'first' : '' %> note">
                <%= render :partial => "notes/note_container", :locals => {:note => note} %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>