<ul class="date-list">
	<% @note_creation_dates.each do |date, notes| %>
	<li class="date">
	  <div class="note-date">
	    <hr class="left"/>
			<h2>
				<%= date.strftime("%b %d, %Y") %>
				<span class="day">
				  <%= date.strftime("%A").downcase %>
				</span>
			</h2>
			<hr/>
		</div>
		<div style="clear:both;"></div>
	  <% if date == Time.zone.now.to_date %>
		  <%= render :partial => "notes/form", :locals => {:url => notes_path, :method => :post, :button_text => "Save", :class_name => "inline-creation-form"} %>
		<% end %>
		<div style="clear:both;"></div>
		<ul class="notes">
  		<% notes.each do |note| %>
  		<li class="note">
    		<div class="note-container">
    		  <div class="note-time">
    			  <div class="time">
      			  <span class="time">
                <%= note.created_at.strftime("%I:%M %P") %>
      			  </span>
      			</div>
      		</div>
    			<div class="note-content">
    				<%= BlueCloth.new(note.content).to_html.html_safe %>
    			</div>
    			<div class="note-controls">
            <%= link_to "edit", edit_note_path(note) %>
            <%= link_to "delete", note_path(note), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
    			</div>
    		</div>
  		</li>
  		<% end %>
  	</ul>
	</li>
	<% end %>
</ul>