<div class="layout">
  <table class="layout">
    <tbody>
    <% @note_creation_dates.each do |date, notes| %>
      <tr>
        <td class="left">
          <div class="date">
      			<h2>
      				<%= date.strftime("%b %d, %Y") %>
      				<span class="day">
      				  <%= date.strftime("%A").downcase %>
      				</span>
      			</h2>
      		</div>
    		
      		<% if date == Time.zone.now.to_date %>
    		    <%= render :partial => "notes/form", :locals => {:url => notes_path, :method => :post, :button_text => "Save", :class_name => "creation-form"} %>
    		    <hr class="dashed border with-bottom-margin"/>
      		<% end %>
    		
      		<ol class="notes">
        		<% notes.each_with_index do |note, index| %>
        		<li class="note">
      		    <%= render :partial => "notes/note_container", :locals => {:note => note} %>
        		</li>
        		<% end %>
        	</ol>
        </td>
        <td class="right">
          <h3>
            Tasks
          </h3>
          <% if @task_creation_dates[date].present? %>
            <%= render :partial => "tasks/list_for_date", :locals => {:tasks => @task_creation_dates[date]} %>
          <% end %>
          <% if date == Time.zone.now.to_date %>
            <%= render :partial => "tasks/form", :locals => {:url => tasks_path, :method => :post, :button_text => "Save", :class_name => "inline-creation-form"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<div>