<ul class="date-list">
	<% @note_creation_dates.each do |date, notes| %>
	<li>	    
		<div class="note-date">
			<h2>
				<%= date.strftime("%Y-%m-%d") %>
			</h2>
			<div class="note-count">
				<%= "#{notes.length.to_s} notes" %>
			</div>
		</div>
		<div style="clear:both;"></div>
		<ul>
  		<% if date == Time.zone.now.to_date %>
  		<li>
  		  <div class="note-container">
    		  <%= render :partial => "notes/form", :locals => {:url => notes_path, :method => :post, :button_text => "Save", :class_name => "inline-creation-form"} %>
        </div>
      </li>
      <% end %>
  		<% notes.each do |note| %>
  		<li>
    		<div class="note-container">
    			<div class="note-time">
    			  <%= link_to "delete", note_path(note), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
    				<%= link_to note.created_at.strftime("%I:%M %P"), edit_note_path(note) %>
    			</div>
    			<div class="note-content">
    				<%= BlueCloth.new(note.content).to_html.html_safe %>
    			</div>
    		</div>
  		</li>
  		<% end %>
  	</ul>
	</li>
	<% end %>
</ul>