<ol class="dates">
  <% @object_creation_dates.each do |date| %>
    <% tasks = @task_creation_dates[date] %>
    <% notes = @note_creation_dates[date] %>
    <li class="date">
      <div class="date">
        <%= date.strftime("%b %d, %Y") %>
        <span class="day">
          <%= date.strftime("%A").downcase %>
        </span>
      </div>
      <div class="filters">
        <a href="#" class="active">all</a>
        <a href="#">tasks</a>
        <a href="#">notes</a>
        <a href="#">lists</a>
        <a href="#">images</a>
        <a href="#">files</a>
      </div>
      <div class="content">
        <% if date == Time.now.to_date || tasks.present? %>
          <div class="tasks">
            <% if tasks.present? %>
              <%= render :partial => "tasks/list_for_date", :locals => {:tasks => tasks} %>
            <% end %>
            <% if date == Time.now.to_date %>
              <%= render :partial => "tasks/form", :locals => {:url => tasks_path, :method => :post, :class_name => "", :button_text => "Save", :task => Task.new} %>
            <% end %>
          </div>
        <% end %>
        <% if date == Time.now.to_date %>
          <%= render :partial => "notes/form", :locals => {:url => notes_path, :method => :post, :class_name => "", :button_text => "Save", :note => Note.new } %>
        <% end %>
        <% if notes.present? %>
          <ol class="notes">
            <% notes.each_with_index do |note, index| %>
              <li class="note">
                <%= render :partial => "notes/note_container", :locals => {:note => note} %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>