<div class="form-container no-bottom-border">
  <%= form_for task, :as => :task, :url => url, :method => method, :remote => method == :put ? true : false, :html => {:class => class_name} do |f| %>
    <div class="text-field-container">
      <%= f.text_field :name, :class => "text-field", :size => 30 %>
    </div>
    <div class="button-container">
      <div class="select-container">
        <%= f.select :label_id, @labels.collect { |label| [label.name, label.id] }, :include_blank => true %>
      </div>
      <%= f.submit button_text, :class => "submit" %>
      <% if method == :put %>
        <%= link_to "cancel", task_path(task), :remote => true, :class => "cancel" %>
      <% end %>
    </div>
  <% end %>
</div>