%div.tasks-container{:id => "tasks-container"}
  %div.task-list-container{:id => "task-list", "data-view-class" => "App.Views.TaskList"}
    %div.label
      bitsimplicity
    %div.links
    %ol.tasks
      - tasks.each_with_index do |task, index|
        = render :partial => "tasks/list_item", :locals => {:task => task, :index => index}
    %div.task-form-container
      = form_for Task.new, :as => :task, :url => tasks_path, :method => :post, :html => {"data-view-class" => "App.Views.TaskCreationForm"} do |f|
        %div.text-field-container
          = f.text_field :name, :class => "text-field", :size => 30
        %div.button-container
          %label
            = f.check_box :rolling, :class => "checkbox"
            Roll
          = f.submit "Save", :class => "submit"