%li{:id => "task-" + task.id.to_s, :class => ((defined?(selected) && selected == "true" ? "selected " : "") + (task.complete? ? "complete " : "") + "task"), "data-view-class" => "App.Views.Task"}
  %div.task-item-container
    %div.task-checkbox-container
      = check_box_tag "checkbox_for_task_#{task.id.to_s}", "1", task.complete?, :class => "task-checkbox", :id => "task-" + task.id.to_s + "-checkbox", "data-view-class" => "App.Views.TaskCheckbox", "data-url" => task.complete? ? uncomplete_task_path(task): complete_task_path(task), "data-method" => "PUT"
    %div.task-text-container
      %div.text
        = task.name
      %div.task-form-container
        = form_for task, :url => task_path(task), :method => :put, :html => {"data-view-class" => "App.Views.TaskEditForm"} do |f|
          %div.text-field-container
            = f.text_field :name, :class => "text-field"
          %div.button-container
            %label
              = f.check_box :rolling, :class => "checkbox"
              Roll
            = f.submit "Save", :class => "submit"
            %a
              cancel
    %div.task-controls-container
      %div.task-controls-cover
      %div.task-controls-links
        %a{:class => "first"}
          edit
        %a{:class => "last", "data-url" => task_path(task)}
          delete
  %div.task-details-container
    %div.task-details-content
      %ol.content
        - task.notes.each_with_index do |note, index|
          = render :partial => "tasks/notes/list_item", :locals => {:note => note, :index => index}
    %div.form-container
      = form_for Note.new, :url => task_notes_path(task), :as => :note, :method => :post, :html => {"data-view-class" => "App.Views.TaskNoteCreationForm"} do |f|
        %div.textarea-container
          = f.text_area :content, :class => "text-area", :rows => 5, :size => 30
        %div.button-container
          = f.submit "Add Note", :class => "submit"