<div id="task-<%= task.id %>-notes-container">
  <ol id="task-<%= task.id %>-notes" class="notes">
    <% task.notes.each do |note| %>
      <%= render :partial => "tasks/notes/lists/item", :locals => {:task => task, :note => note} %>
    <% end %>
  </ol>
  <div class="note-form-container">
    <%= form_for Note.new, :url => task_notes_path(task), :as => :note, :method => :post, :remote => true do |f| %>
      <div class="text-field-container">
        <%= f.text_field :content, :class => "text-field" %>
      </div>
      <div class="button-container">
        <%= f.submit "Add", :class => "submit" %>
        <div style="clear:both;"></div>
      </div>
    <% end %>
  </div>
</div>