<div class="date-content">
  <div class="section">
    <div class="tasks">
      <div class="section">
        <% if @tasks.present? %>
          <%= render :partial => "tasks/list", :locals => {:tasks => @tasks, :html => {:id => "relevant-task-list"}} %>
        <% end %>
        <% if @irrelevant_tasks.present? %>
          <%= render :partial => "tasks/irrelevant_block", :locals => {:tasks => @irrelevant_tasks} %>
        <% end %>
      </div>
      <div class="divider"></div>
      <div class="section">
        <%= render :partial => "tasks/new_form", :locals => {:labels => @labels} %>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="notes">
      <%= render :partial => "notes/form", :locals => {:url => notes_path, :method => :post, :class_name => "", :button_text => "Save", :note => Note.new } %>

      <% if @notes.present? %>
        <ol class="notes">
          <% @notes.each_with_index do |note, index| %>
            <li class="<%= @notes.size - 1 == index ? 'last' : '' %> <%= index == 0 ? 'first' : '' %> note">
              <%= render :partial => "notes/note_container", :locals => {:note => note} %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
</div>