%div{:class => "firefox-shim"}
%div{:class => "navigation-container"}
  %ul{:class => "navigation"}
    %li{:class => "first " + (@current_tab == notes_path ? "active " : "") + "tab"}
      %div{:class => "tab"}
        = link_to raw("&laquo;"), @label.present? ? labels_dates_path(@label, @date - 1.day) : date_path(@date - 1.day), :class => "arrow tab-slice"
        %a{:href => "#", :class => "tab-slice"}
          = @date.strftime("%b #{@date.day.ordinalize}, %Y")
        = link_to raw("&raquo;"), @label.present? ? labels_dates_path(@label, @date + 1.day) : date_path(@date + 1.day), :class => "arrow tab-slice"
        %div{:class => "label-nav tab-slice"}
          = render :partial => "shared/label_navigator", :locals => {:labels => @labels}
    %li{:class =>"tab"}
      %div{:class =>"tab"}
        %a{:href => "#", :class => "tab-slice"}
          Archive
  %div{:style => "clear:both;"}