!!! 5
%html
  %head
    %title
      Mobonotes
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = stylesheet_link_tag "kalendae"
    = csrf_meta_tag
    = yield(:head)
%body
  = render :partial => "shared/navigation"
  #workspace
    = yield
  .clearfix
    clearfix